# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\北京冠奕自控\Source\JavaMqttClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
